:root {
  --background-color: #FCFCFC;
  --background-transparent-color: #FCFCFCCC;
  --dark-color: #3C3744;
  --primary-color: #3A7CA5;
  --primary-light-color: #54C6EB;
  --area-size: 25rem;

  --bg-image: url(/drew-butler-canggu.jpg);
}
