---
import InputField from '~/components/Form/InputField.astro';
import TextareaField from '~/components/Form/TextareaField.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
import type { MAILER_ENV } from '~/utils/sendMail';
import { sendMail } from '~/utils/sendMail';

interface ErrorResponse {
  name?: string;
  email?: string;
  message?: string;
  unknown?: string;
}

let success = false;
let errors: ErrorResponse = {};

if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData();

    const email = String(formData.get('email') || '');
    const name = String(formData.get('name') || '');
    const message = String(formData.get('message') || '');

    if (!email.includes('@')) {
      errors.email = 'Invalid email address';
    }

    if (!name) {
      errors.name = 'A name is required';
    }

    if (!message) {
      errors.message = 'A message is required';
    }

    if (Object.keys(errors).length === 0) {
      const env = (Astro.locals.runtime as any)?.env as MAILER_ENV;

      if (!env.MAILERSEND_API_KEY) {
        errors.unknown = 'Mail API Key is not set';
      } else {
        try {
          await sendMail({ name, email, message, env });
          success = true;
        } catch (e) {
          console.error(e);
          errors.unknown = String(e);
        }
      }
    }
  } catch (e) {
    console.error(e);
    errors.unknown = 'An error occurred while processing your request';
  }
}
---

<BaseLayout
  title="Contact - Drew Butler"
  description="Send me a message using the contact form"
>
  <div class="flex max-w-screen-sm flex-col gap-5">
    <h1 class="text-2xl font-semibold">Send me a message</h1>
    <p class="">
      Have a question? Want to chat? Maybe want to work together? Send me a
      message using the form below and I'll get back to you as soon as I can.
    </p>
    {
      success ? (
        <div class="mt-10 border-4 border-accent bg-gray-100 p-5 text-center text-xl font-semibold text-gray-800">
          <h2>Your message has been sent.</h2>
        </div>
      ) : (
        <>
          {errors.unknown && (
            <div class="mt-10 border-4 border-accent bg-gray-100 p-5 text-center text-xl font-semibold text-gray-800">
              <h2>An unknown error occured while sending your message</h2>
            </div>
          )}
          <form method="post" class="flex flex-col gap-5 md:w-96">
            <InputField
              name="name"
              label="Name"
              placeholder="Your Name"
              error={errors.name}
            />
            <InputField
              name="email"
              label="Email"
              type="email"
              placeholder="you@email.com"
              error={errors.email}
            />
            <TextareaField
              rows={4}
              name="message"
              label="Message"
              placeholder="Type your message here..."
              defaultValue=""
              error={errors.message}
            />
            <button
              type="submit"
              class="rounded-md bg-accent px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-pink-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
            >
              Send Message
            </button>
          </form>
        </>
      )
    }
  </div>
</BaseLayout>
