---
import BaseLayout from '~/layouts/BaseLayout.astro';
import drewImg from '~/images/drew-memoji.png';
import Github from '~/images/github.svg?react';
import LinkedIn from '~/images/linkedin.svg?react';
import Mail from '~/images/mail.svg?react';
import X from '~/images/x.svg?react';

const links = [
  {
    title: 'Follow me on Github',
    href: 'https://github.com/dbltr',
    image: Github,
  },
  {
    title: 'Find me on LinkedIn',
    href: 'https://linkedin.com/in/drewbutler',
    image: LinkedIn,
  },
  {
    title: 'Follow me on X',
    href: 'https://x.com/drewbutlerme',
    image: X,
  },
  {
    title: 'Message Me',
    href: 'mailto:hi@dbtlr.com',
    image: Mail,
  },
];
---

<BaseLayout title="Drew Butler" description="Drew Butler">
  <main class="flex flex-col gap-5">
    <div
      class="flex flex-col items-center gap-y-10 md:flex-row md:items-start md:justify-between md:gap-x-24"
    >
      <div class="flex flex-col gap-6">
        <h1 class="text-3xl font-bold">
          Hi there, I'm <span class="text-accent">Drew</span> 👋
        </h1>
        <p class="text-xl leading-9">
          I'm a father, a software engineer, a leader, and a technical
          enthusiest. I enjoy building software and solving interesting
          problems. I live in Brooklyn, NY with my wife and 3 kids. I have a
          passion for movies and fantasy novels.
        </p>
        <nav>
          <ul
            class="flex flex-row items-center justify-center gap-4 md:justify-start"
          >
            {
              links.map(({ title, href, image: Image }) => (
                <li>
                  <a href={href} target="_blank" rel="noreferrer" title={title}>
                    <Image className="size-8 text-white hover:translate-y-1 hover:text-accent" />
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
      <div>
        <img src={drewImg.src} alt="Drew Memoji" class="max-w-96" />
      </div>
    </div>
  </main>
</BaseLayout>
