---
import { Icon } from 'astro-icon/components';
---

<footer
  class="flex flex-col gap-2 border-t border-gray-600 py-5 text-center md:flex-row md:items-end"
>
  <div>Copyright &copy; 2024 Drew Butler.</div>
  <div class="flex items-center justify-center gap-1 md:justify-start">
    Built with <Icon
      name="lucide:heart"
      class="size-4 fill-accent text-accent"
    /> in Brooklyn, NY.
  </div>
</footer>
